#bar {
    & #bars {
        display: grid;
        grid-template-columns: 1fr 2fr 4fr 8fr;
        gap: 0.3rem;
        & * {
            background-color: rgba(255, 255, 255, 20%);
            height: 1rem;
            border-radius: 1rem;
            grid-row: 1;
        }
        & #available {
            grid-column-start: 1;
            width: 100%;
        }
    }

    width: min(40rem, 100%);

    & #available {
        background-color: white;
        width: 0;
    }
}

.frame-container {
    @supports (-moz-appearance: none) {
        display: none;
    }
    & span {
        pointer-events: none;
    }
    position: relative;
    & iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
        z-index: -2;
        pointer-events: all;

        clip-path: inset(90% 0 0 90%);
        transform-origin: bottom right;
        transform: scale(10);
    }
}
