main > * {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    width: min(45rem, 100%);
}

#guesses {
    flex-direction: column;
    gap: 2rem;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;

        background-color: #000;
        height: 2.4rem;
        width: 100%;

        border-radius: 2rem;

        &.correct {
            background-image: linear-gradient(
                to bottom right,
                var(--brand-pink) 0%,
                var(--brand-purple) 100%
            );
        }
    }
}

#bars {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 8fr;
    justify-content: center;
    width: min(40rem, 100%);
    position: relative;

    & * {
        background-color: rgba(255, 255, 255, 20%);
        height: 1rem;
        border-radius: 1rem;
        grid-row: 1;
    }

    & #available {
        background-color: white;
        grid-column-start: 1;
        width: 100%;
    }

    & #played {
        position: absolute;
        background: linear-gradient(
            to bottom right,
            #cc56d0 0%,
            var(--brand-purple) 100%
        );

        grid-column: 1 / -1;

        width: 0%;
        transition: none;

        &.playing {
            transition: width 15s linear;
            width: 100%;
        }
    }
}
