#music {
    position: absolute;
    visibility: hidden;
    bottom: 0;
}

#play {
    position: relative;
}

#bar {
    & #bars {
        display: grid;
        grid-template-columns: 1fr 2fr 4fr 8fr;
        gap: 0.3rem;
        & * {
            background-color: rgba(255, 255, 255, 20%);
            height: 1rem;
            border-radius: 1rem;
            grid-row: 1;
        }
        & #available {
            grid-column-start: 1;
            width: 100%;
        }
    }

    width: min(40rem, 100%);

    & #available {
        background-color: white;
        width: 0;
    }
}
