html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    background: linear-gradient(black, rgb(18, 2, 38));
    --brand-purple: #6e06ff;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;

    height: 5rem;
    & span {
        font-size: 6rem;
        text-shadow: 2px 0 var(--brand-purple), -2px 0 var(--brand-purple),
            0 2px var(--brand-purple), 0 -2px var(--brand-purple),
            1px 1px var(--brand-purple), -1px -1px var(--brand-purple),
            1px -1px var(--brand-purple), -1px 1px var(--brand-purple);
    }
}

main {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    --border-radius: 2rem;
    position: relative;
    background: white;
    border: none;
    border-radius: var(--border-radius);

    padding: 0.2rem 1rem;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    &:hover {
        background: rgb(211, 211, 211);
    }

    & svg {
        width: 2.2rem;
    }
}

button::before {
    --border-size: 5px;
    content: "";
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom right,
        #cc56d0 0%,
        var(--brand-purple) 100%
    );
    padding: var(--border-size);
    top: calc(var(--border-size) * -1);
    left: calc(var(--border-size) * -1);
    position: absolute;
    z-index: -1;
}
