---
import Layout from "../layouts/Layout.astro"
import "../styles/index.css"
---

<Layout>
    <section id="guesses">
        <span></span>
        <span></span>
        <span></span>
        <span class="correct">The Correct Answer - Queen</span>
    </section>
    <div>
        <button id="play">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path
                    d="M320-273v-414q0-17 12-28.5t28-11.5q5 0 10.5 1.5T381-721l326 207q9 6 13.5 15t4.5 19q0 10-4.5 19T707-446L381-239q-5 3-10.5 4.5T360-233q-16 0-28-11.5T320-273Z"
                ></path>
            </svg>
        </button>
        <div id="bars">
            <div></div>
            <div></div>
            <div></div>

            <div id="available"></div>
            <div id="played"></div>
        </div>
        <button id="skip">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
                ><path
                    d="M660-280v-400q0-17 11.5-28.5T700-720q17 0 28.5 11.5T740-680v400q0 17-11.5 28.5T700-240q-17 0-28.5-11.5T660-280Zm-440-35v-330q0-18 12-29t28-11q5 0 11 1t11 5l248 166q9 6 13.5 14.5T548-480q0 10-4.5 18.5T530-447L282-281q-5 4-11 5t-11 1q-16 0-28-11t-12-29Z"
                ></path></svg
            >
        </button>
    </div>
</Layout>

<script>
    import * as player from "@tidal-music/player"
    import * as auth from "@tidal-music/auth"
    import * as eventProducer from "@tidal-music/event-producer"

    await auth.init({
        clientId: "NkcXqihOmrfZdBla",
        clientSecret: "e6ldlWH48BEBOUZV1uIyIWJOf1KUGUEeH6qHkFvNjeU=",
        credentialsStorageKey: "ZvZbtTWzx5@1zfiWUluxWD9@di17e1da",
    })

    player.setCredentialsProvider(auth.credentialsProvider)
    player.setEventSender(eventProducer)

    class ExtendableTimeout {
        private timerId: ReturnType<typeof setTimeout>
        private timeStart: number
        private fn: () => void

        constructor(fn: () => void, time: number) {
            this.fn = fn
            this.timeStart = Date.now()
            this.timerId = setTimeout(fn, time)
        }

        extend(time: number): void {
            clearTimeout(this.timerId)

            const elapsed = Date.now() - this.timeStart
            const newTime = Math.max(0, time - elapsed)

            this.timerId = setTimeout(this.fn, newTime)
        }

        cancel(): void {
            clearTimeout(this.timerId)
        }
    }

    const play = document.querySelector("#play")
    const played = document.querySelector("#played")
    const skip = document.querySelector("#skip")
    const available = document.querySelector("#available")

    let phase = 1
    let timer: ExtendableTimeout | null

    const getTimeout = (phase: number) => (2 ** phase - 1) * 1000

    const playVideo = async () => {
        await player.load({
            productId: "36737274",
            productType: "track",
            sourceId: "",
            sourceType: "",
        })
        await player.play()
        played?.classList.add("playing")

        timer?.cancel()
        timer = new ExtendableTimeout(() => {
            player.pause()
            timer = null
            played?.classList.remove("playing")
        }, getTimeout(phase))
    }

    play?.addEventListener("click", playVideo)

    skip?.addEventListener("click", () => {
        if (phase >= 4) return alert("FAIL!!!!")
        phase += 1

        // @ts-expect-error
        available.style["grid-column-end"] = phase + 1

        if (timer == null) {
            playVideo()
        } else {
            timer.extend(getTimeout(phase))
        }
    })
</script>
