---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <iframe
        id="music"
        src="https://www.youtube-nocookie.com/embed/NyaOYfpq9Fc?enablejsapi=1"
    ></iframe>
    <button id="play">Play</button>
    <button id="skip">Skip</button>
    <span id="timeout">1</span>
</Layout>

<style>
    :root {
        background-color: black;
        color: white;
    }
    #music {
        position: absolute;
        width: 0;
        height: 0;
        border: none;
    }
</style>

<script>
    const iframe = document.getElementById("music")
    const play = document.getElementById("play")
    const skip = document.getElementById("skip")
    var timeout = 1000

    const message = (command: String) =>
        (iframe as HTMLIFrameElement)?.contentWindow?.postMessage(
            JSON.stringify({
                event: "command",
                func: command,
            }),
            "*"
        )

    const playVideo = () => {
        message("playVideo")
        setTimeout(() => {
            message("stopVideo")
        }, timeout)
    }

    play?.addEventListener("click", playVideo)

    skip?.addEventListener("click", () => {
        timeout *= 2
        document.querySelector("#timeout")!.textContent = (
            timeout / 1000
        ).toString()
        playVideo()
    })
</script>
