---
import Layout from "../layouts/Layout.astro"
import "../styles/index.css"
---

<Layout>
    <button id="play">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
                d="M320-273v-414q0-17 12-28.5t28-11.5q5 0 10.5 1.5T381-721l326 207q9 6 13.5 15t4.5 19q0 10-4.5 19T707-446L381-239q-5 3-10.5 4.5T360-233q-16 0-28-11.5T320-273Z"
            ></path>
        </svg>
    </button>
    <section id="bar">
        <div id="bars">
            <div></div>
            <div></div>
            <div></div>

            <div id="available"><div id="played"></div></div>
        </div>
    </section>
    <button id="skip">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"
            ><path
                d="M660-280v-400q0-17 11.5-28.5T700-720q17 0 28.5 11.5T740-680v400q0 17-11.5 28.5T700-240q-17 0-28.5-11.5T660-280Zm-440-35v-330q0-18 12-29t28-11q5 0 11 1t11 5l248 166q9 6 13.5 14.5T548-480q0 10-4.5 18.5T530-447L282-281q-5 4-11 5t-11 1q-16 0-28-11t-12-29Z"
            ></path></svg
        >
    </button>
    <div class="fake-button-container frame-container"
        ><div class="fake-button">
            <span>If audio won't play, click here then try again.</span>
            <iframe
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/soundcloud%253Atracks%253A2196321083"
            ></iframe>
        </div></div
    >
</Layout>

<script>
    // TODO: Use css anim for progress
    class ExtendableTimeout {
        private timerId: ReturnType<typeof setTimeout>
        private timeStart: number
        private fn: () => void

        constructor(fn: () => void, time: number) {
            this.fn = fn
            this.timeStart = Date.now()
            this.timerId = setTimeout(fn, time)
        }

        extend(time: number): void {
            clearTimeout(this.timerId)

            const elapsed = Date.now() - this.timeStart
            const newTime = Math.max(0, time - elapsed)

            this.timerId = setTimeout(this.fn, newTime)
        }

        cancel(): void {
            clearTimeout(this.timerId)
        }
    }

    const iframe = document.querySelector("iframe")
    const play = document.querySelector("#play")
    const skip = document.querySelector("#skip")
    const available = document.querySelector("#available") as HTMLDivElement

    let phase = 1
    let timer: ExtendableTimeout | null

    const getTimeout = () => 2 ** phase * 1000

    const message = (command: String, extra?: object) =>
        (iframe as HTMLIFrameElement)?.contentWindow?.postMessage(
            JSON.stringify({ method: command, ...extra }),
            "*"
        )

    const playVideo = () => {
        message("setVolume", { value: 30 })
        message("play")
        if (timer == null) {
            timer = new ExtendableTimeout(() => {
                message("seekTo", { value: 0 })
                message("pause")
                timer = null
            }, getTimeout())
        } else {
            message("seekTo", { value: 0 })
            message("play")
        }
    }

    window.addEventListener("message", (event) => {
        let data = JSON.parse(event.data)

        if (data.method === "ready") {
            message("setVolume", { value: 0 })
            message("play")
            message("pause")
            message("setVolume", { value: 30 })
        }
    })

    play?.addEventListener("click", playVideo)

    skip?.addEventListener("click", () => {
        if (phase >= 4) return alert("FAIL!!!!")
        phase += 1

        //@ts-expect-error
        available.style["grid-column-end"] = phase + 1

        if (timer == null) {
            playVideo()
        } else {
            timer.extend(getTimeout())
        }
    })
</script>
