---
import "../styles/layout.css"
import { Image } from "astro:assets"
import icon from "../assets/logoLong.svg"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/musedel/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Musedle</title>
    </head>
    <body>
        <nav><Image alt="Musedle" src={icon} /></nav>
        <main><slot /></main>
    </body>
</html>
